.roundButtonDiv {
  display: flex;
  column-gap: 20px;
}

.roundButton {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundButton .count {
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ac0000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.roundButton-green {
  background-color: #00745a;
}

.roundButton-white {
  background-color: #f2f2f2;
}
