.sidebar {
  height: 100vh;
  position: fixed;
  background: #fff;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstSideSection {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 35px;
}

.sidebarIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
